asyncpg==0.30.0
bleak==0.22.3
fastapi==0.115.11
httpx==0.28.1
influxdb_client==1.48.0
numpy==2.2.4
pandas==2.2.3
pydantic==2.10.6
pygame==2.6.1
python-dotenv==1.0.1
Requests==2.32.3
scipy==1.15.2
uvicorn==0.34.0
